- ## Similar User Recommender System :

In [168]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [169]:
column_names =[ 'user_id', 'item_id', 'rating', 'timestamp']
df = pd.read_csv("u.data", sep = '\t', names = column_names)
df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [170]:
movie_titles = pd.read_csv("Movie_Id_Titles")
movie_titles.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [171]:
df = pd.merge(movie_titles,df,on='item_id')
df.head()

   item_id             title  user_id  rating  timestamp
0        1  Toy Story (1995)      308       4  887736532
1        1  Toy Story (1995)      287       5  875334088
2        1  Toy Story (1995)      148       4  877019411
3        1  Toy Story (1995)      280       4  891700426
4        1  Toy Story (1995)       66       3  883601324

In [190]:
z1 = df['user_id'].value_counts()
print(z1)

405    737
655    685
13     636
450    540
276    518
416    493
537    490
303    484
234    480
393    448
181    435
279    434
429    414
846    405
7      403
94     400
682    399
308    397
92     388
293    388
222    387
201    386
59     382
435    379
378    375
880    368
417    365
896    362
592    360
796    358
      ...
418     20
242     20
558     20
685     20
812     20
364     20
300     20
631     20
873     20
809     20
166     20
740     20
36      20
866     20
34      20
143     20
824     20
888     20
926     20
441     20
93      20
732     20
475     20
571     20
596     20
147     20
19      20
572     20
636     20
895     20
Name: user_id, Length: 943, dtype: int64

In [172]:
userRatings = df.pivot_table(index=['title'],columns=['user_id'],values='rating')
userRatings

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,2.0,4.0,NaN,NaN,NaN,NaN,NaN
12 Angry Men (1957),5.0,NaN,NaN,NaN,NaN,4.0,4.0,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187 (1997),NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2 Days in the Valley (1996),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0
"20,000 Leagues Under the Sea (1954)",3.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001: A Space Odyssey (1968),4.0,NaN,NaN,NaN,4.0,5.0,5.0,NaN,NaN,5.0,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
3 Ninjas: High Noon At Mega Mountain (1998),NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"39 Steps, The (1935)",NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,4.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
8 1/2 (1963),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8 Heads in a Duffel Bag (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8 Seconds (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Chef in Love (1996),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Above the Rim (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Absolute Power (1997),NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
"Abyss, The (1989)",3.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
Ace Ventura: Pet Detective (1994),3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
Ace Ventura: When Nature Calls (1995),NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Across the Sea of Time (1995),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Addams Family Values (1993),NaN,NaN,NaN,NaN,2.0,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
Addicted to Love (1997),NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Addiction, The (1995)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Adventures of Pinocchio, The (1996)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Adventures of Priscilla, Queen of the Desert, The (1994)",NaN,NaN,NaN,NaN,5.0,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN
"Adventures of Robin Hood, The (1938)",NaN,NaN,NaN,NaN,NaN,4.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Affair to Remember, An (1957)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"African Queen, The (1951)",NaN,NaN,NaN,NaN,NaN,4.0,5.0,NaN,NaN,5.0,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
Afterglow (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Age of Innocence, The (1993)",NaN,NaN,NaN,NaN,3.0,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Window to Paris (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wings of Courage (1995),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wings of Desire (1987),NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wings of the Dove, The (1997)",NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Winnie the Pooh and the Blustery Day (1968),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
"Winter Guest, The (1997)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wishmaster (1997),NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
With Honors (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
Withnail and I (1987),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Witness (1985),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wizard of Oz, The (1939)",4.0,NaN,NaN,NaN,NaN,5.0,5.0,NaN,NaN,5.0,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
Wolf (1994),NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
"Woman in Question, The (1950)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Women, The (1939)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wonderful, Horrible Life of Leni Riefenstahl, The (1993)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wonderland (1997),NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wooden Man's Bride, The (Wu Kui) (1994)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"World of Apu, The (Apur Sansar) (1959)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Wrong Trousers, The (1993)",5.0,NaN,NaN,NaN,5.0,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wyatt Earp (1994),NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
Yankee Zulu (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Year of the Horse (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
You So Crazy (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Young Frankenstein (1974),5.0,NaN,NaN,NaN,4.0,4.0,5.0,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Young Guns (1988),3.0,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
Young Guns II (1990),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
"Young Poisoner's Handbook, The (1995)",NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zeus and Roxanne (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
unknown,4.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
kldum klaka (Cold Fever) (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [191]:
userRatings.shape

(1664, 943)

In [192]:
print("Before: ",userRatings.shape)
userRatings = userRatings.dropna(thresh=10, axis=1).fillna(0,axis=1)
#userRatings.fillna(0, inplace=True)
print("After: ",userRatings.shape)

Before:  (1664, 943)
After:  (1664, 943)

In [210]:
corrMatrix = userRatings.corr(method='pearson')
corrMatrix.head()

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.108574,-0.015289,0.021524,0.303164,0.345240,0.322443,0.276867,0.038696,0.288948,...,0.288429,0.068792,0.183145,0.151338,0.119359,0.060802,0.247909,0.115681,0.111159,0.323883
2,0.108574,1.000000,0.085817,0.161882,0.020796,0.194095,0.024438,0.073652,0.145123,0.108308,...,0.095895,0.291292,0.330150,0.394979,0.292038,0.206823,0.192896,0.145587,0.141580,0.055135
3,-0.015289,0.085817,1.000000,0.337395,-0.027970,0.019833,-0.011691,0.056783,0.044518,0.013222,...,-0.018312,0.019459,0.127848,0.048879,0.091105,-0.000438,0.130326,0.086213,0.105699,-0.023155
4,0.021524,0.161882,0.337395,1.000000,-0.002816,0.030473,0.040891,0.170928,0.089242,0.023593,...,0.019001,0.019551,0.105444,0.182782,0.122387,0.010891,0.174658,0.140687,0.150964,0.024987
5,0.303164,0.020796,-0.027970,-0.002816,1.000000,0.154579,0.280048,0.208825,0.025139,0.116156,...,0.273819,0.038861,0.013772,0.041033,0.084813,0.024296,0.181796,0.112264,0.097752,0.248221

In [196]:
def get_similar(user_id,rating):
    similar_ratings = corrMatrix[user_id]*(rating-2.5)
    similar_ratings = similar_ratings.sort_values(ascending=False)
    #print(type(similar_ratings))
    return similar_ratings

In [197]:
user = [(50,3)]
similar_user = pd.DataFrame()
for user_id,rating in user:
    similar_user = similar_user.append(get_similar(user_id,rating),ignore_index = True)

similar_user.head(10)
a = similar_user.sum().sort_values(ascending=False)
a

50     0.500000
470    0.168801
27     0.167510
150    0.159760
227    0.150360
789    0.148998
266    0.143942
199    0.139785
349    0.137640
595    0.137541
473    0.136759
176    0.136388
936    0.135408
74     0.130875
558    0.130420
139    0.130076
252    0.125790
735    0.125019
32     0.124896
486    0.122699
685    0.119533
572    0.118621
324    0.115873
624    0.114159
526    0.114050
626    0.113569
408    0.112817
26     0.112708
257    0.112685
634    0.112662
         ...
796   -0.010912
659   -0.011149
70    -0.011432
848   -0.011461
899   -0.011637
125   -0.012094
508   -0.012530
600   -0.012596
751   -0.012723
312   -0.012761
275   -0.013312
911   -0.013363
918   -0.013420
798   -0.013775
95    -0.014243
738   -0.014246
22    -0.014418
840   -0.014746
661   -0.015014
642   -0.015402
450   -0.015469
506   -0.016695
536   -0.017498
545   -0.017526
712   -0.017553
846   -0.017737
766   -0.018280
56    -0.018931
716   -0.019159
405   -0.024446
Length: 943, dtype: float64

In [198]:
b = pd.DataFrame(a, columns =['corr'])
b['user_id'] = b.index
b

         corr  user_id
50   0.500000       50
470  0.168801      470
27   0.167510       27
150  0.159760      150
227  0.150360      227
789  0.148998      789
266  0.143942      266
199  0.139785      199
349  0.137640      349
595  0.137541      595
473  0.136759      473
176  0.136388      176
936  0.135408      936
74   0.130875       74
558  0.130420      558
139  0.130076      139
252  0.125790      252
735  0.125019      735
32   0.124896       32
486  0.122699      486
685  0.119533      685
572  0.118621      572
324  0.115873      324
624  0.114159      624
526  0.114050      526
626  0.113569      626
408  0.112817      408
26   0.112708       26
257  0.112685      257
634  0.112662      634
..        ...      ...
796 -0.010912      796
659 -0.011149      659
70  -0.011432       70
848 -0.011461      848
899 -0.011637      899
125 -0.012094      125
508 -0.012530      508
600 -0.012596      600
751 -0.012723      751
312 -0.012761      312
275 -0.013312      275
911 -0.013363      911
918 -0.013420      918
798 -0.013775      798
95  -0.014243       95
738 -0.014246      738
22  -0.014418       22
840 -0.014746      840
661 -0.015014      661
642 -0.015402      642
450 -0.015469      450
506 -0.016695      506
536 -0.017498      536
545 -0.017526      545
712 -0.017553      712
846 -0.017737      846
766 -0.018280      766
56  -0.018931       56
716 -0.019159      716
405 -0.024446      405

[943 rows x 2 columns]

- ## convert  "user_id"  to its movie suggestions.

In [209]:
df['match'] = b['user_id'].isin(df['user_id'])
df.head()

   item_id             title  user_id  rating  timestamp match
0        1  Toy Story (1995)      308       4  887736532   NaN
1        1  Toy Story (1995)      287       5  875334088  True
2        1  Toy Story (1995)      148       4  877019411  True
3        1  Toy Story (1995)      280       4  891700426  True
4        1  Toy Story (1995)       66       3  883601324  True

In [200]:
df.isnull().sum()

item_id          0
title            0
user_id          0
rating           0
timestamp        0
match        99057
dtype: int64

In [201]:
match = df[df['match'] == True]
z = match['title'].unique()
z

array(['Toy Story (1995)', 'GoldenEye (1995)', 'Four Rooms (1995)',
       'Get Shorty (1995)', 'Copycat (1995)'], dtype=object)

In [207]:
z3 = df['user_id'].value_counts(sort = False)
z3

64     200
128    184
192     35
256    207
320    154
384     22
448     38
512     21
576     36
640    109
704     90
768     64
832     25
896    362
1      272
65      80
129     30
193    121
257     57
321    125
385    281
449     75
513     22
577    188
641     40
705    114
769     29
833    267
897    185
2       62
      ...
829     64
893     59
62     232
126     45
190     59
254    159
318    174
382     53
446     36
510     30
574     46
638     67
702     31
766    175
830    106
894    245
63      93
127     23
191     27
255     83
319     23
383     71
447    139
511     24
575     26
639    148
703     47
767     37
831     73
895     20
Name: user_id, Length: 943, dtype: int64